<form [formGroup]="teacherLogin" >

    <label for="Image">Upload Image></label>
    <input type="file"  (change)="upload($event)" accept="*.png.jpg">
    <br>
    <input type = "text" formControlName = "name" placeholder = "Name" >
    <br/>
    <input type = "text" formControlName = "experience" placeholder = "experience" >
    <br/>
    <input type = "text" formControlName = "emailid" placeholder = "emailid" >
    <br/>
    <input type = "text" formControlName = "insName"  placeholder ="institute name" >
    <br/>
    <input type = "text" formControlName = "subject" placeholder = "subject Branch" >
    <br/>
    
    <button type="submit" class="btn-btn-primary" (click)="addTeacher()">Sign up</button>
 </form>

 <br>
    <label for="Iamge"Upload Image></label>
    <input type="file" (change)="upload($event)" accept="*.png.jpg">
    <br>
    <!-- <img [src]=imga> -->
 <!-- <button (click)="FetchUsers()">Ola</button> -->