<h2> Products with lowest stock from "Arts and Crafts Supplier" </h2>


<nav class="navbar navbar navbar-light bg-light" style="align-items: center;">
    <div class="container-fluid">
      
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-4  " style="align-content: center;">
         
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            All Category
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a (click)="getProductStock('science')" class="dropdown-item" href="#">Science</a></li>
                <li><a (click)="getProductStock('history')" class="dropdown-item" href="#">history</a></li>
                <li><a (click)="getProductStock('arts')" class="dropdown-item" href="#">arts</a></li>
            
            </ul>
          </div>
        </ul>  
       
        <input [(ngModel)]="searchTerm" (keydown)="search($event)" type="text" placeholder="Search" aria-label="Search">
        <ul *ngFor="let club of clubs">
            <li (click)="getProductStock(club.subject)">{{club.name}}</li>
        </ul>  
       
      </div>
    </div>
  </nav>



<div *ngFor="let item of products">
    <p> Name: {{item.name}} </p>
    <p> subject: {{item.subject}} </p>
    <p> Institute name: {{item.insName}} </p>
    <p> experience: {{item.experience}} </p>
    <img src={{item.image}} alt="...">
</div>

<br>
<br>