<app-header></app-header>


<nav class="navbar navbar navbar-light bg-light" style="align-items: center;">
    <div class="container-fluid">
      
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-4  " style="align-content: center;">
         
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            All Category
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </ul>  
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>           
      </div>
    </div>
  </nav>

  <br><br><br><br><br><br><br><br>

<app-teachers-form></app-teachers-form>
<app-list></app-list>

<app-footer></app-footer>