<div class='panel-body'>  
    <div class='table-responsive'>  
        <table class='table'>  
            <thead>  
                <tr>
                    <th>Id</th>  
                    <th>Name</th>                      
                </tr>  
            </thead>  
            <tbody>  
                <tr *ngFor="let teacher of teachers">  
                    <td>{{teacher.id}}</td>  
                    <td>{{teacher.name}}</td>
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div>  