<div class='panel-body'>  
    <div class='table-responsive'>  
        <table class='table'>  
            <thead>  
                <tr>
                    <th>Id</th>  
                    <th>Name</th>                      
                </tr>  
            </thead>  
            <tbody>  
                <tr *ngFor="let teacher of Users">  
                    <div class="card" style="width: 14rem;">
                        <img src="https://firebasestorage.googleapis.com/v0/b/viewer-d29cc.appspot.com/o/1.jpg?alt=media&token=1020776d-6827-476d-8a5d-a07956a61d47" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{teacher.insName}}</h5>
                          <p class="card-text">{{teacher.subject}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{teacher.name}}</li>
                            <li class="list-group-item">{{teacher.experience}}</li>
                            <li class="list-group-item">{{teacher.emailid}}</li>
                          
                        </ul>
                        <div class="card-body">
                            <button>Explore</button>
                        </div>
                      </div> 
                    <!-- <td>{{teacher.emailid}}</td>  
                    <td>{{teacher.name}}</td> -->
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div> 

